<h1>Seja bem-vindo!</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %></p>
<p>Você está ambiente de <strong><%= ambiente_rails %></strong></p>
<p><%= nome_aplicacao %></p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>
<p>Curso de <%= @curso %> feito por <%= @nome %></p>